* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --non-toggle-text: #CDCFD4;
}

body {
  background: linear-gradient(0deg, rgba(55, 87, 149, 0.2), rgba(55, 87, 149, 0.2)), linear-gradient(0deg, #121212, #121212);
  border-radius: 0px;
  box-shadow: 0px 0px 4px 0px #000000F2;

  height: 217px;
  width: 400px;

  font-family: 'Open Sans', Verdana, sans-serif;
}

header {
  margin: 0px 10px;
  padding: 15px 10px 0px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  height: 30%;
  width: 30%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-section {
  border-radius: 10px;

  height: 35px;
  width: 360px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

#reload-message {
  height: 27px;
  width: 358px;

  color: var(--non-toggle-text);
  font-size: 14px;
}

.toggle-section {
  background: linear-gradient(180deg, #303541 0%, #3D414D 100%);
  border: 1px solid;
  border-radius: 10px;
  border-image-source: linear-gradient(180deg, #4A4F5E 0%, rgba(57, 71, 109, 0) 49.48%);
  box-shadow: 0px 0px 3px 0px #00000066;

  height: 54px;
  width: 360px;
  margin: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toggle-section:focus-within {
  border: 1px solid #C5D0F1;
}

.text {
  height: 100%;
  width: 100%;
  padding: 0 10px;

  color: #F3F3F3;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* .gif-title {
  font-size: 16px;
  font-weight: 700;
} */

/*.main-label {
  position: relative;
  width: 60px;
  height: 34px;
} */

.sub-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

/*.main-input, */
.sub-input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sub-input {
  position: relative;
}

/* .main-toggle {
  border: transparent solid 2px;
}

input:focus + .main-toggle {
  border: 2px solid white;
} */


/* this selector is applied to and removed from toggles onclick */
.toggle-transition,
.toggle-transition::before {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out; 
}

/* .main-toggle, */
.sub-toggle {
  background-color: #CDCFD4;
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
}

/* .main-toggle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.sub-toggle {
  height: 24px;
  width: 44px;
  left: 325px;
}

.vanish-toggle {
  top: 124px;
}

/* .pause-toggle {
  top: 188px;
}

.alt-toggle {
  top: 252px;
} */

/* input:focus + .main-toggle, */
input:focus + .sub-toggle {
  box-shadow: 0 0 1px #2196F3;
}

/* input:checked + .main-toggle, */
input:checked + .sub-toggle {
  background-color: #7083C0;
}

/* .main-toggle::before, */
.sub-toggle::before {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #F1F1F1;;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 4px;
  bottom: 3px;
  content: "";
}

/* .main-toggle::before {
  background-image: url('../images/cross-large.svg');
  height: 24px;
  width: 24px;
} */

.sub-toggle::before {
  background-image: url('../images/cross-small.svg');
  height: 18px;
  width: 18px;
}

/* input:checked + .main-toggle::before {
  background-image: url('../images/checkmark-large.svg');
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
} */

input:checked + .sub-toggle::before {
  background-image: url('../images/checkmark-small.svg');
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

footer {
  background: #121212;
  color: var(--non-toggle-text);

	height: 34px;
	width: 400px;
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;

  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0em;
	text-align: center;
}

#feedback-text {
  font-weight: 400;
}

a {
  color: var(--non-toggle-text);
  font-weight: 700;
}