<<<<<<< HEAD
/* CSS file for popup.html*/
body{
    height:200px;
    width:300px;
}

div.main{
    display:flex;
    justify-content:space-between;
=======
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg, rgba(55, 87, 149, 0.2), rgba(55, 87, 149, 0.2)), linear-gradient(0deg, #121212, #121212);

    height: 310px;
    width: 400px;
    left: 690px;
    top: 61px;
    border-radius: 0px;

    box-shadow: 0px 0px 4px 0px #000000F2;
}

button {
    background: #e7e7e7; 
    height:30px;
    width: 50px;
    outline:none;
    margin:10px;
    border:none;
    border-radius:2px;
>>>>>>> 854da0756cf4bc7c031ee1e9a38f185c58126fd7

    position: absolute;
    top: 5%;
    left: 45%;
    opacity: 25%;
}
<<<<<<< HEAD
div.pauseGifs{
    display:flex;
    justify-content:space-between;
}

div.vanishGifs{
    display:flex;
    justify-content:space-between;
}

div.altText{
    display:flex;
    justify-content:space-between;
}

.switch{
    position:relative;
    display:inline-block;
    width:60px;
    height:34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
=======
>>>>>>> 854da0756cf4bc7c031ee1e9a38f185c58126fd7
